.container{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: flex-start; */
    align-self: auto;
    border: 2px solid rgb(201, 199, 199);
    width:170px;
    
}

.main-image{
   height: 100px;
   width:auto;
   border: 1px solid black;
   border-radius: 4%;
   display: flex;
   margin: 2px;
}
.image{
    align-self: center;
}
.tags{
    display: flex;
    gap: 5px;
    padding-left: 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 2px;
    align-self: flex-start;
}
#N1{
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
}
#N2{
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    padding-left: 5px;
    padding-bottom: 2px;
}
.content{
    padding-left: 5px;
    margin-top: 0.1px;
}
.button{
    align-self: center;
}
.Read-more{
    background-color: aquamarine;
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
    margin-bottom: 10px;
}

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content: left;
    margin-top: 25vh;
    border: 2px solid white;
} */