:root{
    --Black: #000000;
    --Blue: #1e90ff;
}
nav{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color:aliceblue;
}
button{
    background-color: var(--Black);
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
    color: aliceblue;
}
#logo{
    margin: 10px 450px 220px 20px;
    gap: 100px;
    color: var(--Black)


}