.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    /* border: 10px solid black; */
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
}

.item {
    padding: 1px 10px 2px 10px;
    text-align: center;
}

button {
    background-color: rgb(55, 138, 55);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    padding: 7px;
}

p {
    font-size: smaller;
    padding-top: 2px;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10 2fr);
    }
}